.custom-icon {
    width: 20px; 
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .icon-wrapper {
    display: flex;
    align-items: center;
  }

  img {
    filter: invert(11%) sepia(100%) saturate(7487%) hue-rotate(220deg);
  }
  